@model DataAccessLibrary.Models.Record

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="Delete" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <span>You cannot delete records after 2 days!</span>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <a class="btn btn-success me-2 text-white" role="button" data-dismiss="modal">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>